################################################################################
# mks937aPlogADC.template
# Template database to create virtual calibrated ADCs as inputs to :PLOG
# Originally targeting use case where EtherCAT ADCs provide a 0..32767 value
# and to scale this to provide the originating voltage from the MKS controller.
#
# Backward comatibility is important and this helps prevent breaking older instances
# which use the primitive Hytec VME Hy8401ip module.
#
# Quote from MKS937A Manual: 
# Logarithmic pressure output ranges from 0 to 10 V and is scaled to 0.6 V per
# decade of pressure change
# The above model is for Torr. 1 mBar == 1 Torr * 1000 / 760
# So in the log domain we need to add Log(1000/760) to CALC
# = 0.119
#
# Ian Gillingham 06/01/2016
#
# substitutions:
# % macro, device, device name
# % macro, plog_adc_pv, Raw value ADC PV name
################################################################################


#% archiver 20 Monitor
record(calc, "$(device)")
    {
	field(DESC, "PLOG Analogue Voltage")
        field(EGU,  "V")
	field(CALC, "(((10.0*(A/32767.0))/0.6) - 12.0)+0.119")
  	field(INPA, "$(plog_adc_pv) CP MS")
  	field(HOPR, "3")
  	field(LOPR, "-11")
  	field(HIGH, "-7")
  	field(HSV, "MINOR")
        field(ADEL, "0.025")
    }
