# % macro, P, PV Prefix
# % macro, PORT, Asyn port name
# % macro, SCAN, Asyn port name
# % macro, PARAM, Asyn port name
# % macro, CMD, Asyn port name

# Send query to the controller
record(stringout, "$(P):$(PARAM)_REQUEST") {
  field(SCAN, "$(SCAN)")
  field(DTYP, "stream")
  field(OUT, "@leybold.proto get_floatE($(P):$(PARAM),$(CMD),_RBV) $(PORT)")
  field(PINI, "YES")
}


# % archiver 10
record(ai, "$(P):$(PARAM)_RBV") {
  field(PREC, "5")
}