# % macro, __doc__, Control for Oxford cryostream 700 series
#
# Macros:
# % macro, P, Device Prefix
# % macro, Q, Device suffix
# % macro, PORT, Asyn port to connect to
# % macro, gda_name, Name in gda interface file (Default = )
# % macro, gda_desc, Description in gda interface file (Default = )
# % macro, name, Object and gui association name
# % macro, CTEMP_MIN, macro to set minimum target temperature
# % macro, CTEMP_MAX, macro to set maximum target temperature
#% gui, $(name=), edm, OXCS700.edl, CS=$(P)$(Q)
#% gui, $(name=), edmembed, OXCS700_embed.edl, P=$(P),Q=$(Q)

# %gdatag,template,OXCS700,$(gda_name=),$(gda_desc=)

# % archiver 1 Monitor
# %gdatag,mbbinary,ro,$(gda_name=),PHASE
record(mbbi, "$(P)$(Q):PHASE") {
  field(DESC, "Phase ID")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(THVL, "3")
  field(FRVL, "4")
  field(FVVL, "5")
  field(SXVL, "6")
  field(SVVL, "7")
  field(EIVL, "8")
  field(NIVL, "9")
  field(TEVL, "10")
  field(ZRST, "Ramp")
  field(ONST, "Cool")
  field(TWST, "Plat")
  field(THST, "Hold")
  field(FRST, "End")
  field(FVST, "Purge")
  field(SXST, "Delete Phase")
  field(SVST, "Load Program")
  field(EIST, "Save Program")
  field(NIST, "Soak")
  field(TEST, "Wait")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):BACKPRESS") {
  field(DESC, "Back Pressure")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(LINR, "LINEAR")
  field(ESLO, "0.01")
  field(EOFF, "0")
  field(PREC, "2")
  field(EGU, "bar")
}

substitute "_CTEMP_DRVL=$(CTEMP_MIN=80)"
substitute "_CTEMP_DRVH=$(CTEMP_MAX=327.67)"

include "OXcommon.template"


#% gui, $(name=), sevr
record(ai, "$(P)$(Q):STATUS") {
  field(SCAN, ".5 second")
  field(DTYP, "stream")
  field(VAL, "1")
  field(INP, "@OXCS700.proto read($(P)$(Q)) $(PORT)")
  field(SDIS, "$(P)$(Q):DISABLE")
}

record(ai, "$(P)$(Q):CSTYPE") {
  field(DESC, "Cryostream type")
  field(PINI, "YES")
  field(VAL, "0")
}


# 0 - Off
# 1 - On
# 2 - Auto (also called Machine Turbo, appears in Cool mode only)
# 3 - On (appears in Cool mode only)
# % archiver 1 Monitor
record(mbbi, "$(P)$(Q):TURBOMODE") {
  field(DESC, "Turbo Mode Readback")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(THVL, "3")
  field(ZRST, "Off")
  field(ONST, "On")
  field(TWST, "Auto")
  field(THST, "On")
}

# % archiver 1 Monitor
# %autosave 1 VAL
record(bo, "$(P)$(Q):TURBO") {
  field(DTYP, "Raw Soft Channel")
  field(ZNAM, "Off/Auto")
  field(ONAM, "On")
  field(FLNK, "$(P)$(Q):TURBOCMD")
  field(RVAL, "0")
  field(PINI, "YES")
}

record(ao, "$(P)$(Q):TURBOCMD") {
  field(DTYP, "stream")
  field(OUT, "@OXCS700.proto turbo($(P)$(Q)) $(PORT)")
  field(SDIS, "$(P)$(Q):DISABLE")
}

# This PV keeps the GUI TURBO dropdown display in sync with the RBV
# e.g. if the IOC is restarted when the TURBOMODE is On
# TURBOMODE=1 (On) or 3 (On in Cool mode) means ON
# TURBOMODE=0 (Off) or 2 (Auto in Cool mode) means Off/Auto
record(calc, "$(P)$(Q):TURBORBV_SYNC") {
  field(DESC, "For syncing GUI only")
  field(INPA, "$(P)$(Q):TURBOMODE CP")
  field(CALC, "A==1 || A==3")
}
