# % macro, __doc__, Control for Oxford N-Helix 700 series
#
# Macros:
# % macro, P, Device Prefix
# % macro, Q, Device suffix
# % macro, PORT, Asyn port to connect to
# % macro, gda_name, Name in gda interface file (Default = )
# % macro, gda_desc, Description in gda interface file (Default = )
# % macro, name, Object and gui association name
# % macro, CTEMP_MIN, macro to set minimum target temperature
# % macro, CTEMP_MAX, macro to set maximum target temperature
#% gui, $(name=), edm, OXNH700.edl, CS=$(P)$(Q)
#% gui, $(name=), edmembed, OXNH700_embed.edl, P=$(P),Q=$(Q)

# %gdatag,template,OXNH700,$(gda_name=),$(gda_desc=)

# % archiver 1 Monitor
# %gdatag,mbbinary,ro,$(gda_name=),PHASE
record(mbbi, "$(P)$(Q):PHASE") {
  field(DESC, "Phase ID")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(THVL, "3")
  field(FRVL, "4")
  field(FVVL, "5")
  field(SXVL, "6")
  field(SVVL, "7")
  field(EIVL, "8")
  field(NIVL, "9")
  field(TEVL, "10")
  field(ZRST, "Ramp")
  field(ONST, "Cool")
  field(TWST, "Plat")
  field(THST, "Hold")
  field(FRST, "End")
  field(FVST, "Purge")
  field(SXST, "Delete Phase")
  field(SVST, "Load Program")
  field(EIST, "Save Program")
  field(NIST, "Soak")
  field(TEST, "Wait")
}

substitute "_CTEMP_DRVL=$(CTEMP_MIN=20)"
substitute "_CTEMP_DRVH=$(CTEMP_MAX=327.67)"

include "OXcommonCB.template"


#% gui, $(name=), sevr
record(ai, "$(P)$(Q):STATUS") {
  field(SCAN, ".5 second")
  field(DTYP, "stream")
  field(VAL, "1")
  field(INP, "@OXNH700.proto read($(P)$(Q)) $(PORT)")
  field(SDIS, "$(P)$(Q):DISABLE")  
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):SHIELDTEMP") {
  field(DESC, "Shield Temperature")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(LINR, "LINEAR")
  field(ESLO, "0.01")
  field(EOFF, "0")
  field(PREC, "2")
  field(EGU, "K")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):NOZZLETEMP") {
  field(DESC, "Nozzle Temperature")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(LINR, "LINEAR")
  field(ESLO, "0.01")
  field(EOFF, "0")
  field(PREC, "2")
  field(EGU, "K")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):SHIELDHEAT") {
  field(DESC, "Shield Heater")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(EGU, "%")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):SHIELDHEATAVG") {
  field(DESC, "Average value of shield heater")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(LINR, "LINEAR")
  field(ESLO, "0.01")
  field(EOFF, "0")
  field(PREC, "2")
  field(EGU, "%")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):NOZZLEHEATAVG") {
  field(DESC, "Average value of nozzle heater")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(EGU, "%")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):OUTERFLOW") {
  field(DESC, "Outer stream flow rate")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(LINR, "LINEAR")
  field(ESLO, "0.1")
  field(EOFF, "0")
  field(PREC, "1")
  field(EGU, "l/min")
}

# % archiver 1 Monitor
record(mbbi, "$(P)$(Q):DETECTEDGAS") {
  field(DESC, "Detected Gas Type")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(ZRST, "No Gas Detected")
  field(ONST, "N2 Detected")
  field(TWST, "He Detected")
}

# % archiver 1 Monitor
record(mbbi, "$(P)$(Q):SELECTEDGAS") {
  field(DESC, "Selected Gas Type")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(ZRVL, "0")
  field(ONVL, "1")
  field(TWVL, "2")
  field(ZRST, "System selected N2")
  field(ONST, "User selected He")
  field(TWST, "System selected He")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):WATERTEMP") {
  field(DESC, "Cryodrive Water Temperature")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(EGU, "C")
}

# % archiver 1 Monitor
record(ai, "$(P)$(Q):RETPRESS") {
  field(DESC, "Cryodrive He pressure")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(LINR, "LINEAR")
  field(ESLO, "0.1")
  field(EOFF, "0")
  field(PREC, "2")
  field(EGU, "bar")
}

record(bi, "$(P)$(Q):NOZZLEHEAT")
{
  field(ZNAM, "ON")
  field(ONAM, "OFF")
}

record(ai, "$(P)$(Q):COLDHEAD") {
  field(DESC, "N-Helix coldhead serial")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
}

# 0 - Auto gas select
# 1 - Always use He
# % archiver 1 Monitor
record(bi, "$(P)$(Q):FORCEHEMODE") {
  field(DESC, "Force He Mode Readback")
  field(DTYP, "Raw Soft Channel")
  field(PINI, "YES")
  field(ZNAM, "Auto")
  field(ONAM, "He")
}

# % archiver 1 Monitor
# %autosave 1 VAL
record(bo, "$(P)$(Q):FORCEHE") {
  field(DTYP, "Raw Soft Channel")
  field(ZNAM, "Auto")
  field(ONAM, "Force He")
  field(FLNK, "$(P)$(Q):FORCEHECMD")
  field(RVAL, "0")
  field(PINI, "YES")
}

record(ao, "$(P)$(Q):FORCEHECMD") {
  field(DTYP, "stream")
  field(OUT, "@OXNH700.proto forcehe($(P)$(Q)) $(PORT)")
  field(SDIS, "$(P)$(Q):DISABLE")
}

# This PV keeps the GUI ForceHe dropdown display in sync with the RBV
# e.g. if the IOC is restarted when the ForceHe MODE is On
record(calc, "$(P)$(Q):FORCEHERBV_SYNC") {
  field(DESC, "For syncing GUI only")
  field(INPA, "$(P)$(Q):FORCEHEMODE CP")
  field(CALC, "A==0 || A==1")
}
