# One instance created for each channel of each profile.

# % macro, P, Domain
# % macro, PROFILE, Profile number 1-6
# % macro, CHANNEL, Channel number 1-4

###################  Brightness ###################
record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHT:RES") {
  field(DESC, "Reset Profile $(PROFILE) Ch$(CHANNEL) Brightness")
  field(VAL, "0")
  field(OUT, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHTNESS PP")
}

#% autosave 1 VAL
record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHTNESS") {
  field(DESC, "Profile $(PROFILE) Ch$(CHANNEL) Brightness")
  field(PINI, "YES")
  field(VAL, "0")
  field(DRVH, "100")
  field(DRVL, "0")
}

record(dfanout, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHT:LOAD") {
  field(DESC, "Load Profile $(PROFILE) Ch$(CHANNEL) Brightness")
  field(OUTA, "$(P):CH$(CHANNEL):BRIGHTNESS_DO PP")
  field(DOL, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHTNESS")
  field(OMSL, "closed_loop")
}

################### Pulse Settings ###################
record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY:RES") {
  field(DESC, "Reset Profile $(PROFILE) Ch$(CHANNEL) Pulse Delay")
  field(VAL, "0.02")
  field(OUT, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY PP")
}

#% autosave 1 VAL
record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY") {
  field(DESC, "Profile $(PROFILE) Ch$(CHANNEL) Delay")
  field(PINI, "YES")
  field(DRVH, "999")
  field(DRVL, "0.02")
  field(PREC, "2")
}

record(dfanout, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY:LOAD") {
  field(DESC, "Load Profile $(PROFILE) Ch$(CHANNEL) Delay")
  field(OUTA, "$(P):CH$(CHANNEL):DELAY PP")
  field(DOL, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY")
  field(OMSL, "closed_loop")
  field(SDIS, "$(P):PR$(PROFILE):PULSE_DISABLE")
}

record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH:RES") {
  field(DESC, "Reset Profile $(PROFILE) Ch$(CHANNEL) Pulse Width")
  field(VAL, "0.02")
  field(OUT, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH PP")
}

#% autosave 1 VAL
record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH") {
  field(DESC, "Profile $(PROFILE) Ch$(CHANNEL) Width")
  field(PINI, "YES")
  field(DRVH, "999")
  field(DRVL, "0.02")
  field(PREC, "2")
}

record(dfanout, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH:LOAD") {
  field(DESC, "Load Profile $(PROFILE) Ch$(CHANNEL) Width")
  field(OUTA, "$(P):CH$(CHANNEL):WIDTH PP")
  field(DOL, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH")
  field(OMSL, "closed_loop")
  field(SDIS, "$(P):PR$(PROFILE):PULSE_DISABLE")
}

record(longout, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE:RES") {
  field(DESC, "Reset Profile $(PROFILE) Ch$(CHANNEL) Trigger Edge Flag")
  field(VAL, "0")
  field(OUT, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE.VAL PP")
}

#% autosave 1 VAL
record(mbbo, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE") {
  field(DESC, "Profile $(PROFILE) Ch$(CHANNEL) Trigger Edge Flag")
  field(ZRST, "Rising")
  field(ONST, "Falling")
  field(ZRVL, "0")
  field(ONVL, "4")
  field(VAL, "0")
  field(PINI, "YES")
}

record(dfanout, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE:LOAD") {
  field(DESC, "Load Profile $(PROFILE) Ch$(CHANNEL) Trigger Edge Flag")
  field(OUTA, "$(P):CH$(CHANNEL):TRIGGER_EDGE PP")
  field(DOL, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE")
  field(OMSL, "closed_loop")
}

################### Trigger ###################
record(ao, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT:RES") {
  field(DESC, "Reset Profile $(PROFILE) Ch$(CHANNEL) Trigger Input")
  field(VAL, "$(CHANNEL)")
  field(OUT, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT PP")
}

record(mbbo, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT") {
  field(DESC, "Profile $(PROFILE) Ch$(CHANNEL) Trigger Input")
  field(PINI, "YES")
  field(VAL, "$(CHANNEL)")
  field(ONVL, "1")
  field(TWVL, "2")
  field(THVL, "3")
  field(FRVL, "4")
  field(ONST, "1")
  field(TWST, "2")
  field(THST, "3")
  field(FRST, "4")
}

record(dfanout, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT:LOAD") {
  field(DESC, "Load Profile $(PROFILE) Ch$(CHANNEL) Trigger Input")
  field(OUTA, "$(P):CH$(CHANNEL):TRIGGER_INPUT PP")
  field(DOL, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT")
  field(OMSL, "closed_loop")
  field(SDIS, "$(P):PR$(PROFILE):TRIGGER_DISABLE")
}

################### Setup links for this channel ###################
record(fanout, "$(P):PR$(PROFILE):CH$(CHANNEL):RESET") {
  field(LNK1, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHT:RES")
  field(LNK2, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY:RES")
  field(LNK3, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH:RES")
  field(LNK4, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE:RES")
  field(LNK5, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT:RES")
}

record(fanout, "$(P):PR$(PROFILE):CH$(CHANNEL):LOAD") {
  field(DESC, "Load Profile $(PROFILE) Ch$(CHANNEL) Settings")
  field(LNK1, "$(P):PR$(PROFILE):CH$(CHANNEL):BRIGHT:LOAD")
  field(LNK2, "$(P):PR$(PROFILE):CH$(CHANNEL):DELAY:LOAD")
  field(LNK3, "$(P):PR$(PROFILE):CH$(CHANNEL):WIDTH:LOAD")
  field(LNK4, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_EDGE:LOAD")
  field(LNK5, "$(P):PR$(PROFILE):CH$(CHANNEL):TRIG_INPUT:LOAD")
}
