record(stringout, "$(P):RESETERRORS") {
  field(DESC, "Reset all error conditions")
  field(DTYP, "stream")
  field(VAL, "0")
  field(OUT, "@PP600Series.protocol resetErrors $(PORT)")
}

record(stringout, "$(P):SAVE") {
  field(DESC, "Save settings")
  field(DTYP, "stream")
  field(OUT, "@PP600Series.protocol save $(PORT)")
}

# Output channel 1
substitute "N=1"

include "PP600SeriesChannel.template"


# Output channel 2
substitute "N=2"

include "PP600SeriesChannel.template"


record(stringout, "$(P):QUERYSETTINGS") {
  field(DESC, "Query the current settings")
  field(DTYP, "stream")
  field(OUT, "@PP600Series.protocol querySettings($(P)) $(PORT)")
  field(VAL, "1")
}

# Holds the unused lines from the status report
record(waveform, "$(P):STATUS") {
  field(DESC, "Status report")
  field(NELM, "200")
  field(FTVL, "STRING")
}

record(seq, "$(P):TRIGGERQUERY") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(SELM, "All")
  field(DLY1, "8")
  field(DOL1, "1")
  field(LNK1, "$(P):QUERYSETTINGS PP")
}
