# simulation_mks937aGauge.db
# simulation template database for a combination guage connected to
# two channels of an MKS937A Multi-Sensor System
# PLOG is calculated rather than measured
# Pete Owens - 23/2/04
#
# Run on PHAS 1 to get most up to date values from IMG and Pirani
# 
# substitutions:
# dom - domain
# id  - id
# c   - ADC card number
# s   - ADC signal number
#
# The above are macros that must be set and if left undefined will produce
# unexpanded macro error messages.  The following are optional and will
# default to an appropriate hard-coded value if no value is passed for
# expansion. They are provided to allow the default set points to be changed.
# Once the set point needs to be changed it may be necessary to alter 
# various other fields defining the range of allowed values and the
# description. For the majority of applications the defaults should be used.
# The levels should only be changed at the request of the vacuum group for 
# non-standard vacuum systems.
#
# ctlsp_level = the desired control setpoint value (actually for the Pirg).
# ctlsp_drvh  = the DRVH field on control setpoint records 
#              (limits max value of control setpoint)
# ctlsp_drvl  = the DRVL field on control setpoint records.
#              (limits min value of control setpoint)
# ctlsp_hopr  = the HOPR field on control setpoint records
#              (high operator value - helps display set correct range).
# ctlsp_lopr  = the LOPR field on control setpoint records
#              (low operator value - helps display set correct range).
# ctlsp_desc  = the DESC field on control setpoint records
#		(appears as a label on the Pirg EDM screen).
#
# GCTLR used for the controller button
# % gui, $(name=), edm, mks937aGauge.edl, dom=$(dom), id=$(id), GCTLR=$(GCTLR=)
################################################################################
# Select Active Gauge (IMG or PIRG)
#
record(calc, "$(dom)-VA-GAUGE-$(id):SEL")
{
    field(DESC, "Select Pressure")
    field(SCAN, "1 second")
    field(PHAS, "1")
    field(FLNK, "$(dom)-VA-GAUGE-$(id):GAUGE")
    field(CALC, "A<2?0:(B<2?1:2)")
    field(INPA, "$(dom)-VA-IMG-$(id):STA")
    field(INPB, "$(dom)-VA-PIRG-$(id):STA")
}
record(mbbi, "$(dom)-VA-GAUGE-$(id):GAUGE")
{
    field(DESC, "Active Gauge")
    field(INP,  "$(dom)-VA-GAUGE-$(id):SEL")
    field(FLNK, "$(dom)-VA-GAUGE-$(id):P")
    field(ZRST, "IMG")
    field(ONST, "Pirani")
    field(TWST, "No Gauge")
    field(UNSV, "MAJOR")
    field(ZRSV, "NO_ALARM")
    field(ONSV, "MINOR")
    field(TWSV, "MAJOR")
}
################################################################################
# Pressure
#
#% controldesk Pressure readback
#% archiver 0.1 Monitor
#
record(sel, "$(dom)-VA-GAUGE-$(id):P")
{
    field(DESC, "Pressure")
    field(EGU,  "mbar")
    field(PREC, "11")
    field(FLNK, "$(dom)-VA-GAUGE-$(id):PLOG")
    field(SELM, "Specified")
    field(NVL,  "$(dom)-VA-GAUGE-$(id):SEL")
    field(INPA, "$(dom)-VA-IMG-$(id):P")
    field(INPB, "$(dom)-VA-PIRG-$(id):P")
    field(INPC, "$(dom)-VA-PIRG-$(id):P")
    field(HOPR, "1000")
    field(LOPR, "1.0E-11")
    field(HIGH, "1.0e-7")
    field(HSV,  "MINOR")
}
record(calcout, "$(dom)-VA-GAUGE-$(id):ADEL")
{
    field(DESC, "deadband")
    field(CALC, "A/B")
    field(OUT,  "$(dom)-VA-GAUGE-$(id):P.ADEL")
    field(INPA, "$(dom)-VA-GAUGE-$(id):P")
    field(INPB, "20")
    field(SCAN, "10 second")
}
#
#% archiver 0.1 Monitor
#
record(calc, "$(dom)-VA-GAUGE-$(id):PLOG")
{
    field(DESC, "log Pressure")
    field(EGU,  "log")
    field(CALC, "LOG(A)")
    field(INPA, "$(dom)-VA-GAUGE-$(id):P PP MS")
    field(HOPR, "3")
    field(LOPR, "-11")
    field(ADEL, "0.025")
}
################################################################################
# Control - IMG Enable (link from IMG to PIRG)
#
#% archiver 10 Monitor
#
record(ao, "$(dom)-VA-PIRG-$(id):CTL:SETSP")
{
    field(DESC, "$(ctlsp_desc=IMG Enable)")
    field(FLNK, "$(dom)-VA-IMG-$(id):CTL:SETSP")
    field(OUT,  "$(dom)-VA-IMG-$(id):CTL:SETSP")
    field(EGU,  "mbar")
    field(PREC, "1")
    field(HOPR, "$(ctlsp_hopr=9.5e-1)")
    field(LOPR, "$(ctlsp_lopr=2.7e-3)")
    field(DRVH, "$(ctlsp_drvh=9.5e-1)")
    field(DRVL, "$(ctlsp_drvl=2.7e-3)")
    field(DOL , "$(ctlsp_level=1.0e-2)")
}
#
#% archiver 10 Monitor
#
record(mbbo, "$(dom)-VA-PIRG-$(id):CTL:ENABLE")
{
    field(DESC, "Enable Control Setpoint")
    field(FLNK, "$(dom)-VA-IMG-$(id):CTL:ENABLE")
    field(OUT,  "$(dom)-VA-IMG-$(id):CTL:ENABLE")
    field(ZRST, "Force On I/L")
    field(ONST, "I/L Operating")
    field(ZRVL, "1")
    field(ONVL, "2")
    field(ZRSV, "MAJOR")
    field(ONSV, "NO_ALARM")
    field(DOL , "1")
    field(PINI, "YES")
}
#
#% archiver 10 Monitor
#% controldesk IMG Enable readback
#
record(ai, "$(dom)-VA-PIRG-$(id):CTL:SP")
{
    field(DESC, "$(ctlsp_desc=IMG Enable)")
    field(INP,  "$(dom)-VA-IMG-$(id):CTL:SP MS")
    field(SCAN, "1 second")
    field(PHAS, "1")
    field(EGU,  "mbar")
    field(PREC, "1")
    field(HOPR, "$(ctlsp_hopr=9.5e-1)")
    field(LOPR, "$(ctlsp_lopr=2.7e-3)")
}
################################################################################
