## 
## \file microlab500whole.vdb
## \brief Top-level template for Microlab 500 syringe pump
## \details Uses two instances of microlab500half.vdb to control left and right syringe & valve
##
## \author Giles Knap, Andrew Wilson
##

# % macro, P, Device prefix
# % macro, R, Device suffix
# % macro, PORT, Asyn Port for communication with device
# % macro, LEFTSYRINGEVOL, Left syringe volume (uL)
# % macro, RIGHTSYRINGEVOL, Right syringe volume (uL)
# % macro, STROKESIZE, Number of steps per full syringe stroke
# % macro, name, object and gui association name
# % gui, $(name=), edm, microlab500.edl, device=$(P)$(R), LEFTSYRINGEVOL=$(LEFTSYRINGEVOL), RIGHTSYRINGEVOL=$(RIGHTSYRINGEVOL)

##
##   \name Initialisation
## \{

## Connect to pump, and perform start up tasks for syringes
record(seq, "$(P)$(R):STARTUP") {
  # Notify connecting in progress
  field(DO1, "1")
  field(LNK1, "$(P)$(R):CONNECTING PP")
  
  # Issue Address command
  field(LNK2, "$(P)$(R):INIT.PROC")
  
  # Startup tasks for left side
  field(DLY3, "1.0")
  field(LNK3, "$(P)$(R):RIGHT:STARTUP.PROC")
  
  # Startup tasks for right side
  field(DLY4, "1.0")
  field(LNK4, "$(P)$(R):LEFT:STARTUP.PROC")
  
  # Ensure polling is enabled
  field(DLY5, "1.0")
  field(DO5, "0")
  field(LNK5, "$(P)$(R):DISABLEPOLL")
  
  # Notify connecting finished
  field(DO6, "0")
  field(LNK6, "$(P)$(R):CONNECTING PP")
  
  field(PINI, "RUN")
}

## Bit to show we're starting up, used on screen
record(bo, "$(P)$(R):CONNECTING") {
    field(DESC, "Starting up status bit")
    field(VAL, "0")
}

## Auto-address device then start polling
record(bo, "$(P)$(R):INIT") {
  field(DESC, "connect to the injection pump")
  field(DTYP, "stream")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
  field(OUT, "@microlab500.proto connect $(PORT)")
  field(FLNK, "$(P)$(R):STARTPOLL.PROC PP")
}

## Start polling by sending 0 to "disable poll"
record(bo, "$(P)$(R):STARTPOLL") {
    field(DESC, "Start polling")
    field(VAL, "0")
    field(OUT, "$(P)$(R):DISABLEPOLL PP")
    field(SCAN, "Passive")
}


## \brief Initialisation (homing)
## \details Perform pump initialisation routine. Warning: pump will move/
## Basically homes the syringes and valves
record(bo, "$(P)$(R):INITIALISE") {
  field(DESC, "Initialise the injection pump")
  field(DTYP, "stream")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
  field(OUT, "@microlab500.proto initialise $(PORT)")
  field(PINI, "NO")
}
## \}

## \name Polling control
## \{

## Disable polling of instrument status when value is 1
record(bo, "$(P)$(R):DISABLEPOLL") {
  field(VAL, "1")
  field(ZNAM, "Enabled")
  field(ONAM, "Disabled")
  field(OSV, "MAJOR")
  field(OUT, "$(P)$(R)DISABLEBOTH")
}

## Don't think this does anything
record(dfanout, "$(P)$(R)DISABLEBOTH") {
}

## \}

## Stop. Will stop all motion on the device.
record(bo, "$(P)$(R):STOP"){
  field(DESC, "Stop motion on this controller")
  field(DTYP, "stream")
  field(OUT, "@microlab500.proto stop $(PORT)")
}

## \name Status
## \{

## Query "instrument busy status"
record(longin, "$(P)$(R):BUSYBYTE"){
  field(DESC, "Instrument busy status byte")
  field(DTYP, "stream")
  field(INP, "@microlab500.proto busybyte $(PORT)")
  field(FLNK, "$(P)$(R):BUSYBITS")
  field(SCAN, "1 second")
  field(SDIS, "$(P)$(R):DISABLEPOLL")
}

## Access the individual bits from the instrument busy status byte
##   1: left syringe busy;
##   3: right syringe busy.
record(mbbiDirect, "$(P)$(R):BUSYBITS"){
  field(DESC, "Instrument busy status")
  field(DTYP, "Soft Channel")
  field(INP, "$(P)$(R):BUSYBYTE")
  field(FLNK, "$(P)$(R):LEFT:DMOV")
}
## Turn busy bit into a Done Moving status for the Left syringe
record(calc, "$(P)$(R):LEFT:DMOV"){
  field(DESC, "Left syringe done moving bit")
  field(INPA, "$(P)$(R):BUSYBITS.B1")
  field(FLNK, "$(P)$(R):RIGHT:DMOV")
  field(CALC, "A")
}
## Turn busy bit into a Done Moving status for the right syringe
record(calc, "$(P)$(R):RIGHT:DMOV"){
  field(DESC, "Right syringe done moving bit")
  field(INPA, "$(P)$(R):BUSYBITS.B3")
  field(CALC, "A")
}
## \}

##
## \name Connection monitoring
## \{

## Try to disable polling if a comms error happens
record(calcout, "$(P)$(R):COMMSERR") {
    field(DESC, "Disable poll if comms error")
    field(INPA, "$(P)$(R):LEFT:GETVPOSA.SEVR")
    field(CALC, "A!=0")
    field(OUT, "$(P)$(R):DISABLEPOLL PP")
    field(SCAN, "5 second")
    field(OOPT, "Every Time")
#    field(TPRO, "1")
}

## \}

## \name Expand templates for left and right sides of instrument
## \{

## Expand template for left side
substitute "_SIDE=LEFT"
substitute "_P=$(P)"
substitute "_R=$(R)"
substitute "_PORT=$(PORT)"
substitute "_SIDEPARM=B"
substitute "_DISABLE=$(P)$(R):DISABLEPOLL"
substitute "_SYRINGEVOL=$(LEFTSYRINGEVOL)"
substitute "_STROKESIZE=$(STROKESIZE)"

include "microlab500half.template"

## Expand template for right side.
substitute "_SIDE=RIGHT"
substitute "_P=$(P)"
substitute "_R=$(R)"
substitute "_PORT=$(PORT)"
substitute "_SIDEPARM=C"
substitute "_DISABLE=$(P)$(R):DISABLEPOLL"
substitute "_SYRINGEVOL=$(RIGHTSYRINGEVOL)"
substitute "_STROKESIZE=$(STROKESIZE)"

include "microlab500half.template"

## \}
