

# ODPsu.template
# substitutions
# P - device name prefix (name will be $(P)$(Q))
# Q - device name qualifier (name will be $(P)$(Q))
# PORT - the comms port
# % macro, P, device name prefix (name will be $(P)$(Q))
# % macro, Q, device name qualifier (name will be $(P)$(Q))
# % macro, PORT, Asyn port name

record(bo, "$(P)$(Q):DISABLE") {
  field(DESC, "Disable comms")
  field(PINI, "YES")
  field(VAL, "0")
  field(OMSL, "supervisory")
  field(ZNAM, "Enabled")
  field(ONAM, "Disabled")
}

record(bo, "$(P)$(Q):VR") {
  field(DESC, "Send readback cmd")
  field(SCAN, "5 second")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol getvall $(PORT) 0")
  field(SDIS, "$(P)$(Q):DISABLE")
}

record(longout, "$(P)$(Q):FMT:GET") {
  field(DESC, "Send read format cmd")
  field(SCAN, "Passive")
#  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol getvdformat $(PORT) 0")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(HOPR, "7")
  field(LOPR, "0")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(DOL, "0")
  field(OMSL, "supervisory")
  field(DRVH, "7")
  field(DRVL, "0")
}

record(longin, "$(P)$(Q):FORMAT") {
  field(DESC, "Setup: Get active format")
  field(INP, "$(P)$(Q):SETUP:P1")
}

record(ai, "$(P)$(Q):TIME:RESET") {
  field(DESC, "Setup: Get reset time")
  field(INP, "$(P)$(Q):SETUP:P2")
  field(EGU, "h")
  field(PREC, "2")
}

record(longin, "$(P)$(Q):SLEW") {
  field(DESC, "Setup: Get slew rate")
  field(INP, "$(P)$(Q):SETUP:P3")
  field(EGU, "V/s")
}

record(bi, "$(P)$(Q):OUTPUT") {
  field(DESC, "Setup: Get output state")
  field(INP, "$(P)$(Q):SETUP:P4")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(bi, "$(P)$(Q):AUTOSTART") {
  field(DESC, "Setup: Get autostart state")
  field(INP, "$(P)$(Q):SETUP:P5")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(bi, "$(P)$(Q):TIMECORR") {
  field(DESC, "Setup: Get time corr state")
  field(INP, "$(P)$(Q):SETUP:P6")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(bi, "$(P)$(Q):HYST") {
  field(DESC, "Setup: Get hyst mode")
  field(INP, "$(P)$(Q):SETUP:P7")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(longin, "$(P)$(Q):BANK2START") {
  field(DESC, "Setup: Get bank 2 start chn")
  field(INP, "$(P)$(Q):SETUP:P8")
}

record(bi, "$(P)$(Q):COMMS") {
  field(DESC, "Setup: Get comms mode")
  field(INP, "$(P)$(Q):SETUP:P9")
  field(ZNAM, "Ethernet")
  field(ONAM, "RS232")
}

record(bi, "$(P)$(Q):MODE") {
  field(DESC, "Setup: Get op mode")
  field(INP, "$(P)$(Q):SETUP:P10")
  field(ZNAM, "Normal")
  field(ONAM, "Test")
}

record(longin, "$(P)$(Q):STEPSIZE") {
  field(DESC, "Setup: Get inc/dec step")
  field(INP, "$(P)$(Q):SETUP:P11")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):SLEW2") {
  field(DESC, "Setup: Get sec slew rate")
  field(INP, "$(P)$(Q):SETUP:P12")
  field(EGU, "V/s")
}

record(longin, "$(P)$(Q):HYSTOVERSHOOT") {
  field(DESC, "Setup: Get hyst oversht v")
  field(INP, "$(P)$(Q):SETUP:P13")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):B0MIN") {
  field(DESC, "Setup: Get bank 0 min v")
  field(INP, "$(P)$(Q):SETUP:P14")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):B0MAX") {
  field(DESC, "Setup: Get bank 0 max v")
  field(INP, "$(P)$(Q):SETUP:P15")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):B1MIN") {
  field(DESC, "Setup: Get bank 1 min v")
  field(INP, "$(P)$(Q):SETUP:P16")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):B1MAX") {
  field(DESC, "Setup: Get bank 1 max v")
  field(INP, "$(P)$(Q):SETUP:P17")
  field(EGU, "V")
}

record(longout, "$(P)$(Q):FORMAT:SET") {
  field(DESC, "Set active format")
  field(HOPR, "7")
  field(LOPR, "0")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):FMT:SEQ")
}

record(longout, "$(P)$(Q):SLEW:SET") {
  field(DESC, "Set slew")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol setslew $(PORT) 0")
  field(HOPR, "250")
  field(LOPR, "1")
  field(EGU, "V/s")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):AUTOSTART:SET") {
  field(DESC, "Autostart on/off")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol autostarton $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):TIMECORR:SET") {
  field(DESC, "Time corr on/off")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol correctionon $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):HYST:SET") {
  field(DESC, "Hyst on/off")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol hyston $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(longout, "$(P)$(Q):STEPSIZE:SET") {
  field(DESC, "Set inc/dec step")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol setstep $(PORT) 0")
  field(HOPR, "250")
  field(LOPR, "1")
  field(EGU, "V")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(longout, "$(P)$(Q):SLEW2:SET") {
  field(DESC, "Set slew 2")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol setslew2 $(PORT) 0")
  field(HOPR, "250")
  field(LOPR, "1")
  field(EGU, "V/s")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(longout, "$(P)$(Q):HYSTOVERSHOOT:SET") {
  field(DESC, "Set hyst overshoot")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol sethyst $(PORT) 0")
  field(HOPR, "250")
  field(LOPR, "0")
  field(EGU, "V")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):TIME:RESET:CLR") {
  field(DESC, "Clear last reset time")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol resettime $(PORT) 0")
  field(ZNAM, "0")
  field(ONAM, "1")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(waveform, "$(P)$(Q):SETUP:GET") {
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(FLNK, "$(P)$(Q):SETUP:FAN")
  field(INP, "@ODPsu.protocol getsetupw $(PORT) 0")
  field(NELM, "17")
  field(FTVL, "FLOAT")
  field(DESC, "Send setup cmd")
  field(PINI, "YES")
}

record(subArray, "$(P)$(Q):SETUP:P1") {
  field(FLNK, "$(P)$(Q):FORMAT")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "0")
}

record(subArray, "$(P)$(Q):SETUP:P2") {
  field(FLNK, "$(P)$(Q):TIME:RESET")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "1")
}

record(subArray, "$(P)$(Q):SETUP:P3") {
  field(FLNK, "$(P)$(Q):SLEW")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "2")
}

record(fanout, "$(P)$(Q):SETUP:FAN") {
  field(FLNK, "$(P)$(Q):SETUP:FAN2")
  field(LNK1, "$(P)$(Q):SETUP:P1")
  field(LNK2, "$(P)$(Q):SETUP:P2")
  field(LNK3, "$(P)$(Q):SETUP:P3")
  field(LNK4, "$(P)$(Q):SETUP:P4")
  field(LNK5, "$(P)$(Q):SETUP:P5")
  field(LNK6, "$(P)$(Q):SETUP:P6")
}

record(subArray, "$(P)$(Q):SETUP:P4") {
  field(FLNK, "$(P)$(Q):OUTPUT")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "3")
}

record(subArray, "$(P)$(Q):SETUP:P5") {
  field(FLNK, "$(P)$(Q):AUTOSTART")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "4")
}

record(subArray, "$(P)$(Q):SETUP:P6") {
  field(FLNK, "$(P)$(Q):TIMECORR")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "5")
}

record(fanout, "$(P)$(Q):SETUP:FAN2") {
  field(FLNK, "$(P)$(Q):SETUP:FAN3")
  field(LNK1, "$(P)$(Q):SETUP:P7")
  field(LNK2, "$(P)$(Q):SETUP:P8")
  field(LNK3, "$(P)$(Q):SETUP:P9")
  field(LNK4, "$(P)$(Q):SETUP:P10")
  field(LNK5, "$(P)$(Q):SETUP:P11")
  field(LNK6, "$(P)$(Q):SETUP:P12")
}

record(fanout, "$(P)$(Q):SETUP:FAN3") {
  field(LNK1, "$(P)$(Q):SETUP:P13")
  field(LNK2, "$(P)$(Q):SETUP:P14")
  field(LNK3, "$(P)$(Q):SETUP:P15")
  field(LNK4, "$(P)$(Q):SETUP:P16")
  field(LNK5, "$(P)$(Q):SETUP:P17")
}

record(subArray, "$(P)$(Q):SETUP:P7") {
  field(FLNK, "$(P)$(Q):HYST")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "6")
}

record(subArray, "$(P)$(Q):SETUP:P8") {
  field(FLNK, "$(P)$(Q):BANK2START")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "7")
}

record(subArray, "$(P)$(Q):SETUP:P9") {
  field(FLNK, "$(P)$(Q):COMMS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "8")
}

record(subArray, "$(P)$(Q):SETUP:P10") {
  field(FLNK, "$(P)$(Q):MODE")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "9")
}

record(subArray, "$(P)$(Q):SETUP:P11") {
  field(FLNK, "$(P)$(Q):STEPSIZE")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "10")
}

record(subArray, "$(P)$(Q):SETUP:P12") {
  field(FLNK, "$(P)$(Q):SLEW2")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "11")
}

record(subArray, "$(P)$(Q):SETUP:P13") {
  field(FLNK, "$(P)$(Q):HYSTOVERSHOOT")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "12")
}

record(subArray, "$(P)$(Q):SETUP:P14") {
  field(FLNK, "$(P)$(Q):B0MIN")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "13")
}

record(subArray, "$(P)$(Q):SETUP:P15") {
  field(FLNK, "$(P)$(Q):B0MAX")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "14")
}

record(subArray, "$(P)$(Q):SETUP:P16") {
  field(FLNK, "$(P)$(Q):B1MIN")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "15")
}

record(subArray, "$(P)$(Q):SETUP:P17") {
  field(FLNK, "$(P)$(Q):B1MAX")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET")
  field(MALM, "17")
  field(INDX, "16")
}

record(waveform, "$(P)$(Q):STATUS:GET") {
  field(SCAN, "10 second")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(FLNK, "$(P)$(Q):STATUS:FAN")
  field(INP, "@ODPsu.protocol getstatusw $(PORT) 0")
  field(NELM, "19")
  field(FTVL, "FLOAT")
  field(DESC, "Send STATUS cmd")
}

record(subArray, "$(P)$(Q):STATUS:P1") {
  field(FLNK, "$(P)$(Q):PSU")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "0")
}

record(subArray, "$(P)$(Q):STATUS:P2") {
  field(FLNK, "$(P)$(Q):APOSGENV")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "1")
}

record(subArray, "$(P)$(Q):STATUS:P3") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "2")
  field(FLNK, "$(P)$(Q):ANEGGENV")
}

record(fanout, "$(P)$(Q):STATUS:FAN") {
  field(FLNK, "$(P)$(Q):STATUS:FAN2")
  field(LNK1, "$(P)$(Q):STATUS:P1")
  field(LNK2, "$(P)$(Q):STATUS:P2")
  field(LNK3, "$(P)$(Q):STATUS:P3")
  field(LNK4, "$(P)$(Q):STATUS:P4")
  field(LNK5, "$(P)$(Q):STATUS:P5")
  field(LNK6, "$(P)$(Q):STATUS:P6")
}

record(subArray, "$(P)$(Q):STATUS:P4") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "3")
  field(FLNK, "$(P)$(Q):AOSCOTP")
}

record(subArray, "$(P)$(Q):STATUS:P5") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "4")
  field(FLNK, "$(P)$(Q):AOSCOTN")
}

record(subArray, "$(P)$(Q):STATUS:P6") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "5")
  field(FLNK, "$(P)$(Q):BPOSGENV")
}

record(fanout, "$(P)$(Q):STATUS:FAN2") {
  field(FLNK, "$(P)$(Q):STATUS:FAN3")
  field(LNK1, "$(P)$(Q):STATUS:P7")
  field(LNK2, "$(P)$(Q):STATUS:P8")
  field(LNK3, "$(P)$(Q):STATUS:P9")
  field(LNK4, "$(P)$(Q):STATUS:P10")
  field(LNK5, "$(P)$(Q):STATUS:P11")
  field(LNK6, "$(P)$(Q):STATUS:P12")
}

record(fanout, "$(P)$(Q):STATUS:FAN3") {
  field(LNK1, "$(P)$(Q):STATUS:P13")
  field(LNK2, "$(P)$(Q):STATUS:P14")
  field(LNK3, "$(P)$(Q):STATUS:P15")
  field(LNK4, "$(P)$(Q):STATUS:P16")
  field(LNK5, "$(P)$(Q):STATUS:P17")
  field(LNK6, "$(P)$(Q):STATUS:P18")
  field(FLNK, "$(P)$(Q):STATUS:P19")
}

record(subArray, "$(P)$(Q):STATUS:P7") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "6")
  field(FLNK, "$(P)$(Q):BNEGGENV")
}

record(subArray, "$(P)$(Q):STATUS:P8") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "7")
  field(FLNK, "$(P)$(Q):BOSCOTP")
}

record(subArray, "$(P)$(Q):STATUS:P9") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "8")
  field(FLNK, "$(P)$(Q):BOSCOTN")
}

record(subArray, "$(P)$(Q):STATUS:P10") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "9")
  field(FLNK, "$(P)$(Q):CPOSGENV")
}

record(subArray, "$(P)$(Q):STATUS:P11") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "10")
  field(FLNK, "$(P)$(Q):CNEGGENV")
}

record(subArray, "$(P)$(Q):STATUS:P12") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "11")
  field(FLNK, "$(P)$(Q):COSCOTP")
}

record(subArray, "$(P)$(Q):STATUS:P13") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "12")
  field(FLNK, "$(P)$(Q):COSCOTN")
}

record(subArray, "$(P)$(Q):STATUS:P14") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "13")
  field(FLNK, "$(P)$(Q):HVENABLE")
}

record(subArray, "$(P)$(Q):STATUS:P15") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "14")
  field(FLNK, "$(P)$(Q):WATCHDOG")
}

record(subArray, "$(P)$(Q):STATUS:P16") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "15")
  field(FLNK, "$(P)$(Q):VACITLK1")
}

record(subArray, "$(P)$(Q):STATUS:P17") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "16")
  field(FLNK, "$(P)$(Q):VACITLK2")
}

record(subArray, "$(P)$(Q):STATUS:P18") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "17")
  field(FLNK, "$(P)$(Q):FAULTINT")
}

record(bi, "$(P)$(Q):PSU") {
  field(DESC, "Status: PSU")
  field(INP, "$(P)$(Q):STATUS:P1")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):AOSCOTP") {
  field(DESC, "Status: A Osc O/T Pos")
  field(INP, "$(P)$(Q):STATUS:P4")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(longin, "$(P)$(Q):APOSGENV") {
  field(DESC, "Status: Pos Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P2")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):ANEGGENV") {
  field(DESC, "Status: Neg Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P3")
  field(EGU, "V")
}

record(bi, "$(P)$(Q):AOSCOTN") {
  field(DESC, "Status: A Osc O/T Neg")
  field(INP, "$(P)$(Q):STATUS:P5")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(longin, "$(P)$(Q):BPOSGENV") {
  field(DESC, "Status: B Pos Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P6")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):BNEGGENV") {
  field(DESC, "Status: B Neg Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P7")
  field(EGU, "V")
}

record(bi, "$(P)$(Q):BOSCOTP") {
  field(DESC, "Status: B Osc O/T Pos")
  field(INP, "$(P)$(Q):STATUS:P8")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):BOSCOTN") {
  field(DESC, "Status: B Osc O/T Neg")
  field(INP, "$(P)$(Q):STATUS:P9")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(longin, "$(P)$(Q):CPOSGENV") {
  field(DESC, "Status: C Pos Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P10")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):CNEGGENV") {
  field(DESC, "Status: C Neg Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P11")
  field(EGU, "V")
}

record(bi, "$(P)$(Q):COSCOTP") {
  field(DESC, "Status: C Osc O/T Pos")
  field(INP, "$(P)$(Q):STATUS:P12")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):COSCOTN") {
  field(DESC, "Status: C Osc O/T Neg")
  field(INP, "$(P)$(Q):STATUS:P13")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):HVENABLE") {
  field(DESC, "Status: HV enable")
  field(INP, "$(P)$(Q):STATUS:P14")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):WATCHDOG") {
  field(DESC, "Status: Watchdog timer")
  field(INP, "$(P)$(Q):STATUS:P15")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(subArray, "$(P)$(Q):STATUS:P19") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET")
  field(MALM, "19")
  field(INDX, "18")
  field(FLNK, "$(P)$(Q):TCORR")
}

record(longin, "$(P)$(Q):TCORR") {
  field(DESC, "Status: Time Correction")
  field(INP, "$(P)$(Q):STATUS:P19.VAL")
  field(EGU, "min")
}

record(bi, "$(P)$(Q):VACITLK2") {
  field(DESC, "Status: Fault intr")
  field(INP, "$(P)$(Q):STATUS:P17")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):VACITLK1") {
  field(DESC, "Status: Vac interlock")
  field(INP, "$(P)$(Q):STATUS:P16")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):FAULTINT") {
  field(DESC, "Status: Fault intr")
  field(INP, "$(P)$(Q):STATUS:P18")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bo, "$(P)$(Q):FMT:RESET") {
  field(DESC, "Set to factory defaults")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol resetformat $(PORT) 0")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(ZNAM, "0")
  field(ONAM, "1")
}

record(bo, "$(P)$(Q):FMT:SETDEF") {
  field(DESC, "Set as factory defaults")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol setformatdefaults $(PORT) 0")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(ZNAM, "0")
  field(ONAM, "1")
}

record(seq, "$(P)$(Q):OUTP:SEQ") {
  field(LNK1, "$(P)$(Q):OUTP:SEV PP")
  field(FLNK, "$(P)$(Q):OUTP:REQ")
  field(DO1, "1")
}

record(bo, "$(P)$(Q):OUTP:REQ") {
  field(DESC, "Output on/off")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol outputon $(PORT) 0")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):OUTP:SEVC")
  field(OMSL, "closed_loop")
  field(DOL, "$(P)$(Q):OUTPUT:SET")
}

record(bo, "$(P)$(Q):OUTPUT:SET") {
  field(FLNK, "$(P)$(Q):OUTP:SEQ")
  field(ZNAM, "Off")
  field(ONAM, "On")
}

# zero when initialised
# one for slewing
# two for success (got SUCCESS in OUTP:REQ)
# three for timeout (STAT is TIMEOUT(10) in OUTP:REQ)
# four for fail (STAT is CALC(12) in OUTP:REQ)
# five for unexpected status in :OUTP:REQ
record(mbbo, "$(P)$(Q):OUTP:SEV") {
  field(ZRST, "N/A")
  field(ONST, "SLEW")
  field(TWST, "SUCCESS")
  field(THST, "TIMEOUT")
  field(FRST, "FAIL")
  field(ZRSV, "NO_ALARM")
  field(ONSV, "NO_ALARM")
  field(TWSV, "NO_ALARM")
  field(THSV, "MAJOR")
  field(FRSV, "MAJOR")
  field(FLNK, "$(P)$(Q):OUTP:UPD")
  field(FVST, "INVALID")
  field(FVSV, "INVALID")
}

# Calculate a status based on severity/status of :OUTP:REQ
# STAT=10 is Timeout, STAT=12 is INVALID/CALC
record(calcout, "$(P)$(Q):OUTP:SEVC") {
  field(FLNK, "$(P)$(Q):OUTP:SEV")
  field(INPA, "$(P)$(Q):OUTP:REQ.SEVR")
  field(INPB, "$(P)$(Q):OUTP:REQ.STAT")
  field(OUT, "$(P)$(Q):OUTP:SEV")
  field(CALC, "(A=0)?2:(A=3&&B=1)?3:(B=12)?4:5")
  field(OOPT, "Every Time")
  field(DOPT, "Use CALC")
}

# Process "SETP:GET" if result was SUCCESS or FAIL
record(calcout, "$(P)$(Q):OUTP:UPD") {
  field(CALC, "((A=2)||(A=4))?1:0")
  field(INPA, "$(P)$(Q):OUTP:SEV")
  field(OUT, "$(P)$(Q):OUTP:UPD2.PROC PP")
  field(OOPT, "When Non-zero")
  field(DOPT, "Use CALC")
}

record(longout, "$(P)$(Q):FMT:REQ") {
  field(DESC, "Set active format")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol setformat $(PORT) 0")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(HOPR, "7")
  field(LOPR, "0")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):FMT:SEVC")
  field(DOL, "$(P)$(Q):FORMAT:SET")
  field(OMSL, "closed_loop")
}

record(calcout, "$(P)$(Q):FMT:SEVC") {
  field(FLNK, "$(P)$(Q):FMT:SEV")
  field(INPA, "$(P)$(Q):FMT:REQ.SEVR")
  field(INPB, "$(P)$(Q):FMT:REQ.STAT")
  field(OUT, "$(P)$(Q):FMT:SEV")
  field(CALC, "(A=0)?2:(A=3&&B=1)?3:(B=12)?4:5")
  field(OOPT, "Every Time")
  field(DOPT, "Use CALC")
}

record(mbbo, "$(P)$(Q):FMT:SEV") {
  field(ZRST, "N/A")
  field(ONST, "SLEW")
  field(TWST, "SUCCESS")
  field(THST, "TIMEOUT")
  field(FRST, "FAIL")
  field(ZRSV, "NO_ALARM")
  field(ONSV, "NO_ALARM")
  field(TWSV, "NO_ALARM")
  field(THSV, "MAJOR")
  field(FRSV, "MAJOR")
  field(FVST, "INVALID")
  field(FVSV, "INVALID")
  field(FLNK, "$(P)$(Q):FMT:UPD2")
}

record(seq, "$(P)$(Q):FMT:SEQ") {
  field(LNK1, "$(P)$(Q):FMT:SEV PP")
  field(FLNK, "$(P)$(Q):FMT:REQ")
  field(DO1, "1")
}

record(seq, "$(P)$(Q):FMT:SEQ2") {
  field(DO1, "1")
  field(LNK1, "$(P)$(Q):SETUP:GET.PROC PP")
  field(DO2, "1")
  field(LNK2, "$(P)$(Q):VDREQ0.PROC PP")
}

record(calcout, "$(P)$(Q):FMT:UPD2") {
  field(CALC, "((A=2)||(A=4)||(A=5))?1:0")
  field(INPA, "$(P)$(Q):FMT:SEV")
  field(OUT, "$(P)$(Q):FMT:SEQ2.PROC PP")
  field(OOPT, "When Non-zero")
  field(DOPT, "Use CALC")
}

record(seq, "$(P)$(Q):OUTP:UPD2") {
  field(LNK1, "$(P)$(Q):SETUP:GET.PROC PP")
  field(DO1, "1")
  field(LNK2, "$(P)$(Q):VDREQ0.PROC PP")
  field(DO2, "1")
}

