

# ODPsuChannel.template
# substitutions
# P - device name prefix (name will be $(P)$(Q))
# Q - device name qualifier (name will be $(P)$(Q))
# CHAN - the channel number (0 - 23)
# PORT - the comms port
# % macro, P, device name prefix (name will be $(P)$(Q))
# % macro, Q, device name qualifier (name will be $(P)$(Q))
# % macro, PORT, Asyn port name
# % macro, CHAN, power supply channel number (0 - 23)
# % macro, ACTIVE, channel activated (0-1)
# % macro, BANK, bank to which channel is assigned (0-1)
# % macro, LASTCHAN, whether channel is last channel in the bank (0-1)
record(bo, "$(P)$(Q):V$(CHAN):BANK") {
  field(DESC, "V$(CHAN) Bank")
  field(ZNAM, "0")
  field(ONAM, "1")
  field(VAL, "$(BANK)")
}

# This should be set to 1 if the channel is connected to a mirror electrode, 0
# if not.
record(bo, "$(P)$(Q):V$(CHAN):ACT") {
  field(DESC, "V$(CHAN) Active/Inactive")
  field(ZNAM, "No")
  field(ONAM, "Yes")
  field(VAL, "$(ACTIVE)")
}

record(ao, "$(P)$(Q):V$(CHAN)D") {
  field(DESC, "V$(CHAN) Demand")
  field(DTYP, "stream")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(OUT, "@ODPsuV2.protocol setvd($(CHAN),$(P)$(Q)) $(PORT) 0")
  field(LINR, "LINEAR")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EGU, "V")
  field(EOFF, "-2500")
  field(ESLO, "0.076294")
  field(DRVH, "2500")
  field(DRVL, "-2500")
  field(HOPR, "2500")
  field(LOPR, "-2500")
}

#% archiver 5 Monitor
record(longin, "$(P)$(Q):V$(CHAN)R") {
  field(DESC, "V$(CHAN) actual readback input")
  field(SCAN, "I/O Intr")
  field(DTYP, "stream")
  field(INP, "@ODPsuV2.protocol getvall$(CHAN) $(PORT) 0")
  field(HOPR, "2500")
  field(LOPR, "-2500")
  field(EGU, "V")
  field(PINI, "YES")
}

#% archiver 5 Monitor
record(ai, "$(P)$(Q):FMT:V$(CHAN)DR") {
  field(DESC, "V$(CHAN) fmt demand rb")
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(DTYP, "Raw Soft Channel")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EGU, "V")
  field(HOPR, "2500")
  field(LOPR, "-2500")
  field(ESLO, "0.076294")
  field(EOFF, "-2500")
  field(LINR, "LINEAR")
}

#% archiver 10 Monitor
record(ai, "$(P)$(Q):V$(CHAN)DR") {
  field(DESC, "V$(CHAN) demand readback input")
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(DTYP, "Raw Soft Channel")
  field(LINR, "LINEAR")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(HOPR, "2500")
  field(LOPR, "-2500")
  field(ESLO, "0.076294")
  field(EOFF, "-2500")
}

# Split up readback into active bit and bank bit (sanity check)
# B = raw combined activity/bank bit (first number in the string)
# C = active bit
# D = bank bit
record(transform, "$(P)$(Q):V$(CHAN)DR:CALC") {
  field(CLCB, "DBL(STR(A)[0,0])")
  field(INPA, "$(P)$(Q):V$(CHAN)DONE CP")
  field(CLCC, "B>1")
  field(CLCD, "B=1 || B=3")
}


record(calcout, "$(P)$(Q):V$(CHAN)D:CALC") {
  field(CALC, "A+(2*B)")
  field(INPA, "$(P)$(Q):V$(CHAN):BANK")
  field(INPB, "$(P)$(Q):V$(CHAN):ACT CP")
  field(DESC, "V$(CHAN) active/bank bit calc")
  field(PINI, "YES")
}

# When device has finished slewing it responds with this message.
record(stringin, "$(P)$(Q):V$(CHAN)DONE") {
  field(SCAN, "I/O Intr")
  field(DTYP, "stream")
  field(FLNK, "$(P)$(Q):V$(CHAN)SETSTATUS")
  field(INP, "@ODPsuV2.protocol getvd$(CHAN)() $(PORT) 0")
}

# Parse hexadecimal voltage reading (starts at index 1 of the string)
record(scalcout, "$(P)$(Q):V$(CHAN)STRCLC") {
  field(CALC, "SSCANF(AA[1,4],'%X')")
  field(INAA, "$(P)$(Q):V$(CHAN)DONE CP")
  field(OUT, "$(P)$(Q):V$(CHAN)DR.RVAL PP")
  field(OOPT, "Every Time")
  field(DOPT, "Use CALC")
}

# Sets the device status record to 2 ('SUCCESS').
record(ao, "$(P)$(Q):V$(CHAN)SETSTATUS") {
  field(VAL, "2")
  field(OUT, "$(P)$(Q):STATUS PP")
}

# Calculate a delay based on the channel number to prevent all channels requesting
# their demand values simultaneously.
record(calcout, "$(P)$(Q):V$(CHAN)DRDELAY") {
  field(PINI, "YES")
  field(CALC, "$(CHAN)/2 + 2")
  field(OUT, "$(P)$(Q):V$(CHAN)DRUPDATE.ODLY")
  field(DESC, "V$(CHAN) demand rb delay")
}

# Request an update of the channel demand when device has either finished slewing or
# a timeout has occurred.
record(calcout, "$(P)$(Q):V$(CHAN)DRUPDATE") {
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(CALC, "0")
  field(INPA, "$(P)$(Q):FINISHED CP")
  field(INPB, "$(P)$(Q):TIMEDOUT CP")
  field(OUT, "@ODPsuV2.protocol getvdreq($(CHAN),$(P)$(Q)) $(PORT) 0")
  field(OOPT, "Every Time")
  field(DOPT, "Use CALC")
  field(DESC, "V$(CHAN) demand rb update")
}

record(ao, "$(P)$(Q):FMT:V$(CHAN)D") {
  field(DESC, "V$(CHAN) format demand")
  field(PINI, "YES")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(DOL, "0")
  field(OMSL, "supervisory")
  field(EGU, "V")
  field(DRVH, "2500")
  field(DRVL, "-2500")
  field(HOPR, "2500")
  field(LOPR, "-2500")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EOFF, "-2500")
  field(ESLO, "0.076294")
  field(LINR, "LINEAR")
}

# Send format demand for a channel which is not the last in the bank.
record(longout, "$(P)$(Q):FMT:V$(CHAN)D:OUT") {
  field(DESC, "Send format demand")
  field(DTYP, "stream")
  field(PRIO, "HIGH")
  field(OUT, "@ODPsuV2.protocol setvdformat2($(CHAN),$(P)$(Q)) $(PORT) 0")
  field(DOL, "$(P)$(Q):FMT:V$(CHAN)D.RVAL")
  field(OMSL, "closed_loop")
}

# Send format demand for a channel which is the last in the bank.
# Fwd link to record which reads the format back.
record(longout, "$(P)$(Q):FMT:V$(CHAN)D:OUT2") {
  field(DESC, "Send format demand")
  field(DTYP, "stream")
  field(PRIO, "HIGH")
  field(OUT, "@ODPsuV2.protocol setvdformat3($(CHAN),$(P)$(Q)) $(PORT) 0")
  field(DOL, "$(P)$(Q):FMT:V$(CHAN)D.RVAL")
  field(OMSL, "closed_loop")
  field(FLNK, "$(P)$(Q):FMT:GET")
}

# Select which protocol to use based on whether or not the channel is the
# last in the bank.
record(seq, "$(P)$(Q):FMT:V$(CHAN)SEL") {
  field(DESC, "Select protocol to use")
  field(SELM, "Specified")
  field(SELL, "$(P)$(Q):FMT:V$(CHAN)LASTCALC")
  field(LNK1, "$(P)$(Q):FMT:V$(CHAN)D:OUT.VAL PP")
  field(LNK2, "$(P)$(Q):FMT:V$(CHAN)D:OUT2.VAL PP")
  field(DOL1, "1")
  field(DOL2, "1")
}

# Only output format demand if channel is in the selected bank.
record(calcout, "$(P)$(Q):FMT:V$(CHAN)SENDFMT") {
  field(CALC, "A=B")
  field(INPB, "$(P)$(Q):V$(CHAN):BANK")
  field(OUT, "$(P)$(Q):FMT:V$(CHAN)SEL.VAL PP")
  field(OOPT, "When Non-zero")
  field(DOPT, "Use CALC")
  field(INPA, "$(P)$(Q):FMT:V$(CHAN)SENDFMT")
}

# Calculate link number from $(LASTCHAN) macro.
record(calcout, "$(P)$(Q):FMT:V$(CHAN)LASTCALC") {
  field(PINI, "YES")
  field(CALC, "$(LASTCHAN)+1")
}

# Update channel value to global demand. Disable this record
# if the channel is not active.
record(longout, "$(P)$(Q):FMT:V$(CHAN)GLOBALFWD") {
  field(DESC, "Global demand forward")
  field(DISV, "0")
  field(SDIS, "$(P)$(Q):V$(CHAN):ACT")
  field(OUT, "$(P)$(Q):FMT:V$(CHAN)D PP")
  field(DOL, "$(P)$(Q):FMTB$(BANK):GLOBALD CP")
  field(OMSL, "closed_loop")
}

