

# Created on 02/01/2008 for new version of PSU delivered for I24
# ODPsu.template
# substitutions
# P - device name prefix (name will be $(P)$(Q))
# Q - device name qualifier (name will be $(P)$(Q))
# PORT - the comms port
# % macro, P, device name prefix (name will be $(P)$(Q))
# % macro, Q, device name qualifier (name will be $(P)$(Q))
# % macro, PORT, Asyn port name
record(bo, "$(P)$(Q):VR") {
  field(DESC, "Send readback cmd")
  field(SCAN, "5 second")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol getvall $(PORT) 0")
  field(SDIS, "$(P)$(Q):STATUS")
}

#% archiver 10 Monitor
record(longin, "$(P)$(Q):FORMAT") {
  field(DESC, "Setup: Get active format")
  field(INP, "$(P)$(Q):SETUP:P1 NPP MS")
}

record(ai, "$(P)$(Q):TIME:RESET") {
  field(DESC, "Setup: Get reset time")
  field(INP, "$(P)$(Q):SETUP:P2 NPP MS")
  field(EGU, "h")
  field(PREC, "2")
}

record(longin, "$(P)$(Q):SLEW") {
  field(DESC, "Setup: Get slew rate")
  field(INP, "$(P)$(Q):SETUP:P3 NPP MS")
  field(EGU, "V/s")
}

record(bi, "$(P)$(Q):OUTPUT") {
  field(DESC, "Setup: Get output state")
  field(INP, "$(P)$(Q):SETUP:P4 NPP MS")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(bi, "$(P)$(Q):AUTOSTART") {
  field(DESC, "Setup: Get autostart state")
  field(INP, "$(P)$(Q):SETUP:P5 NPP MS")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

#% archiver 10 Monitor
record(bi, "$(P)$(Q):TIMECORR") {
  field(DESC, "Setup: Get time corr state")
  field(INP, "$(P)$(Q):SETUP:P6 NPP MS")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

#% archiver 10 Monitor
record(bi, "$(P)$(Q):HYST") {
  field(DESC, "Setup: Get hyst mode")
  field(INP, "$(P)$(Q):SETUP:P7 NPP MS")
  field(ZNAM, "OFF")
  field(ONAM, "ON")
}

record(longin, "$(P)$(Q):BANK2START") {
  field(DESC, "Setup: Get bank 2 start chn")
  field(INP, "$(P)$(Q):SETUP:P8 NPP MS")
}

record(bi, "$(P)$(Q):COMMS") {
  field(DESC, "Setup: Get comms mode")
  field(INP, "$(P)$(Q):SETUP:P9 NPP MS")
  field(ZNAM, "Ethernet")
  field(ONAM, "RS232")
}

record(bi, "$(P)$(Q):MODE") {
  field(DESC, "Setup: Get op mode")
  field(INP, "$(P)$(Q):SETUP:P10 NPP MS")
  field(ZNAM, "Normal")
  field(ONAM, "Test")
}

#% archiver 10 Monitor
record(ai, "$(P)$(Q):STEPSIZE") {
  field(DESC, "Setup: Get inc/dec step")
  field(DTYP, "Raw Soft Channel")
  field(INP, "$(P)$(Q):STEPSIZECALC PP MS")
  field(LINR, "LINEAR")
  field(EGUF, "312")
  field(EGUL, "1")
  field(EGU, "V")
  field(ESLO, "0.076294")
}

#% archiver 10 Monitor
record(longin, "$(P)$(Q):SLEW2") {
  field(DESC, "Setup: Get sec slew rate")
  field(INP, "$(P)$(Q):SETUP:P12 NPP MS")
  field(EGU, "V/s")
}

#% archiver 10 Monitor
record(longin, "$(P)$(Q):HYSTOVERSHOOT") {
  field(DESC, "Setup: Get hyst oversht v")
  field(INP, "$(P)$(Q):SETUP:P13 NPP MS")
  field(EGU, "V")
}

record(ai, "$(P)$(Q):B0MIN") {
  field(DESC, "Setup: Get bank 0 min v")
  field(DTYP, "Raw Soft Channel")
  field(INP, "$(P)$(Q):B0MINCALC PP MS")
  field(LINR, "LINEAR")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EGU, "V")
  field(ESLO, "0.076294")
  field(EOFF, "-2500")
}

record(ai, "$(P)$(Q):B0MAX") {
  field(DESC, "Setup: Get bank 0 max v")
  field(DTYP, "Raw Soft Channel")
  field(INP, "$(P)$(Q):B0MAXCALC PP MS")
  field(LINR, "LINEAR")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EGU, "V")
  field(ESLO, "0.076294")
  field(EOFF, "-2500")
}

record(ai, "$(P)$(Q):B1MIN") {
  field(DESC, "Setup: Get bank 1 min v")
  field(DTYP, "Raw Soft Channel")
  field(INP, "$(P)$(Q):B1MINCALC PP MS")
  field(LINR, "LINEAR")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EGU, "V")
  field(ESLO, "0.076294")
  field(EOFF, "-2500")
}

record(ai, "$(P)$(Q):B1MAX") {
  field(DESC, "Setup: Get bank 1 max v")
  field(DTYP, "Raw Soft Channel")
  field(INP, "$(P)$(Q):B1MAXCALC PP MS")
  field(LINR, "LINEAR")
  field(EGUF, "2500")
  field(EGUL, "-2500")
  field(EGU, "V")
  field(ESLO, "0.076294")
  field(EOFF, "-2500")
}

record(longout, "$(P)$(Q):FORMAT:SET") {
  field(DESC, "Set active format")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol setformat($(P)$(Q)) $(PORT) 0")
  field(HOPR, "7")
  field(LOPR, "0")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
}

record(longout, "$(P)$(Q):SLEW:SET") {
  field(DESC, "Set slew")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol setslew $(PORT) 0")
  field(HOPR, "250")
  field(LOPR, "1")
  field(EGU, "V/s")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):OUTPUT:SET") {
  field(DESC, "Output on/off")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol outputon($(P)$(Q)) $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
}

record(bo, "$(P)$(Q):AUTOSTART:SET") {
  field(DESC, "Autostart on/off")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol autostarton $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):TIMECORR:SET") {
  field(DESC, "Time corr on/off")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol correctionon $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):HYST:SET") {
  field(DESC, "Hyst on/off")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol hyston $(PORT) 0")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(ao, "$(P)$(Q):STEPSIZE:SET") {
  field(DESC, "Set inc/dec step")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
  field(OUT, "@ODPsuV2.protocol setstep $(PORT) 0")
  field(LINR, "LINEAR")
  field(EGUF, "312")
  field(EGUL, "1")
  field(EGU, "V")
  field(ESLO, "0.076294")
  field(HOPR, "312")
  field(LOPR, "1")
}

record(longout, "$(P)$(Q):SLEW2:SET") {
  field(DESC, "Set slew 2")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol setslew2 $(PORT) 0")
  field(HOPR, "5")
  field(LOPR, "1")
  field(EGU, "V/s")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
  field(DRVH, "5")
  field(DRVL, "1")
}

record(longout, "$(P)$(Q):HYSTOVERSHOOT:SET") {
  field(DESC, "Set hyst overshoot")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol sethyst $(PORT) 0")
  field(HOPR, "250")
  field(LOPR, "0")
  field(EGU, "V")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(bo, "$(P)$(Q):TIME:RESET:CLR") {
  field(DESC, "Clear last reset time")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol resettime $(PORT) 0")
  field(ZNAM, "0")
  field(ONAM, "1")
  field(FLNK, "$(P)$(Q):SETUP:GET")
}

record(waveform, "$(P)$(Q):SETUP:GET") {
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(FLNK, "$(P)$(Q):SETUP:FAN")
  field(INP, "@ODPsuV2.protocol getsetupw $(PORT) 0")
  field(NELM, "17")
  field(FTVL, "STRING")
  field(DESC, "Send setup cmd")
}

record(subArray, "$(P)$(Q):SETUP:P1") {
  field(FLNK, "$(P)$(Q):FORMAT PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "0")
}

record(subArray, "$(P)$(Q):SETUP:P2") {
  field(FLNK, "$(P)$(Q):TIME:RESET PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "1")
}

record(subArray, "$(P)$(Q):SETUP:P3") {
  field(FLNK, "$(P)$(Q):SLEW PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "2")
}

record(fanout, "$(P)$(Q):SETUP:FAN") {
  field(FLNK, "$(P)$(Q):SETUP:FAN2")
  field(LNK1, "$(P)$(Q):SETUP:P1")
  field(LNK2, "$(P)$(Q):SETUP:P2")
  field(LNK3, "$(P)$(Q):SETUP:P3")
  field(LNK4, "$(P)$(Q):SETUP:P4")
  field(LNK5, "$(P)$(Q):SETUP:P5")
  field(LNK6, "$(P)$(Q):SETUP:P6")
}

record(subArray, "$(P)$(Q):SETUP:P4") {
  field(FLNK, "$(P)$(Q):OUTPUT PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "3")
}

record(subArray, "$(P)$(Q):SETUP:P5") {
  field(FLNK, "$(P)$(Q):AUTOSTART PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "4")
}

record(subArray, "$(P)$(Q):SETUP:P6") {
  field(FLNK, "$(P)$(Q):TIMECORR PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "5")
}

record(fanout, "$(P)$(Q):SETUP:FAN2") {
  field(FLNK, "$(P)$(Q):SETUP:FAN3")
  field(LNK1, "$(P)$(Q):SETUP:P7")
  field(LNK2, "$(P)$(Q):SETUP:P8")
  field(LNK3, "$(P)$(Q):SETUP:P9")
  field(LNK4, "$(P)$(Q):SETUP:P10")
  field(LNK5, "$(P)$(Q):SETUP:P11")
  field(LNK6, "$(P)$(Q):SETUP:P12")
}

record(fanout, "$(P)$(Q):SETUP:FAN3") {
  field(LNK1, "$(P)$(Q):SETUP:P13")
  field(LNK2, "$(P)$(Q):SETUP:P14")
  field(LNK3, "$(P)$(Q):SETUP:P15")
  field(LNK4, "$(P)$(Q):SETUP:P16")
  field(LNK5, "$(P)$(Q):SETUP:P17")
}

record(subArray, "$(P)$(Q):SETUP:P7") {
  field(FLNK, "$(P)$(Q):HYST PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "6")
}

record(subArray, "$(P)$(Q):SETUP:P8") {
  field(FLNK, "$(P)$(Q):BANK2START PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "7")
}

record(subArray, "$(P)$(Q):SETUP:P9") {
  field(FLNK, "$(P)$(Q):COMMS PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "8")
}

record(subArray, "$(P)$(Q):SETUP:P10") {
  field(FLNK, "$(P)$(Q):MODE PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "9")
}

record(subArray, "$(P)$(Q):SETUP:P11") {
  field(FLNK, "$(P)$(Q):STEPSIZE PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "10")
}

record(subArray, "$(P)$(Q):SETUP:P12") {
  field(FLNK, "$(P)$(Q):SLEW2 PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "11")
}

record(subArray, "$(P)$(Q):SETUP:P13") {
  field(FLNK, "$(P)$(Q):HYSTOVERSHOOT PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "12")
}

record(subArray, "$(P)$(Q):SETUP:P14") {
  field(FLNK, "$(P)$(Q):B0MIN PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "13")
}

record(subArray, "$(P)$(Q):SETUP:P15") {
  field(FLNK, "$(P)$(Q):B0MAX PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "14")
}

record(subArray, "$(P)$(Q):SETUP:P16") {
  field(FLNK, "$(P)$(Q):B1MIN PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "15")
}

record(subArray, "$(P)$(Q):SETUP:P17") {
  field(FLNK, "$(P)$(Q):B1MAX PP MS")
  field(FTVL, "STRING")
  field(INP, "$(P)$(Q):SETUP:GET NPP MS")
  field(MALM, "17")
  field(INDX, "16")
}

record(waveform, "$(P)$(Q):STATUS:GET") {
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(FLNK, "$(P)$(Q):STATUS:FAN")
  field(INP, "@ODPsuV2.protocol getstatusw $(PORT) 0")
  field(NELM, "19")
  field(FTVL, "FLOAT")
  field(DESC, "Send STATUS cmd")
}

record(subArray, "$(P)$(Q):STATUS:P1") {
  field(FLNK, "$(P)$(Q):PSU PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "0")
}

record(subArray, "$(P)$(Q):STATUS:P2") {
  field(FLNK, "$(P)$(Q):APOSGENV PP MS")
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "1")
}

record(subArray, "$(P)$(Q):STATUS:P3") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "2")
  field(FLNK, "$(P)$(Q):ANEGGENV PP MS")
}

record(fanout, "$(P)$(Q):STATUS:FAN") {
  field(FLNK, "$(P)$(Q):STATUS:FAN2")
  field(LNK1, "$(P)$(Q):STATUS:P1")
  field(LNK2, "$(P)$(Q):STATUS:P2")
  field(LNK3, "$(P)$(Q):STATUS:P3")
  field(LNK4, "$(P)$(Q):STATUS:P4")
  field(LNK5, "$(P)$(Q):STATUS:P5")
  field(LNK6, "$(P)$(Q):STATUS:P6")
}

record(subArray, "$(P)$(Q):STATUS:P4") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "3")
  field(FLNK, "$(P)$(Q):AOSCOTP PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P5") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "4")
  field(FLNK, "$(P)$(Q):AOSCOTN PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P6") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "5")
  field(FLNK, "$(P)$(Q):BPOSGENV PP MS")
}

record(fanout, "$(P)$(Q):STATUS:FAN2") {
  field(FLNK, "$(P)$(Q):STATUS:FAN3")
  field(LNK1, "$(P)$(Q):STATUS:P7")
  field(LNK2, "$(P)$(Q):STATUS:P8")
  field(LNK3, "$(P)$(Q):STATUS:P9")
  field(LNK4, "$(P)$(Q):STATUS:P10")
  field(LNK5, "$(P)$(Q):STATUS:P11")
  field(LNK6, "$(P)$(Q):STATUS:P12")
}

record(fanout, "$(P)$(Q):STATUS:FAN3") {
  field(LNK1, "$(P)$(Q):STATUS:P13")
  field(LNK2, "$(P)$(Q):STATUS:P14")
  field(LNK3, "$(P)$(Q):STATUS:P15")
  field(LNK4, "$(P)$(Q):STATUS:P16")
  field(LNK5, "$(P)$(Q):STATUS:P17")
  field(LNK6, "$(P)$(Q):STATUS:P18")
  field(FLNK, "$(P)$(Q):STATUS:P19")
}

record(subArray, "$(P)$(Q):STATUS:P7") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "6")
  field(FLNK, "$(P)$(Q):BNEGGENV PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P8") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "7")
  field(FLNK, "$(P)$(Q):BOSCOTP PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P9") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "8")
  field(FLNK, "$(P)$(Q):BOSCOTN PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P10") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "9")
  field(FLNK, "$(P)$(Q):CPOSGENV PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P11") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "10")
  field(FLNK, "$(P)$(Q):CNEGGENV PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P12") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "11")
  field(FLNK, "$(P)$(Q):COSCOTP PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P13") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "12")
  field(FLNK, "$(P)$(Q):COSCOTN PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P14") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "13")
  field(FLNK, "$(P)$(Q):HVENABLE PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P15") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "14")
  field(FLNK, "$(P)$(Q):WATCHDOG PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P16") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "15")
  field(FLNK, "$(P)$(Q):VACITLK1 PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P17") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "16")
  field(FLNK, "$(P)$(Q):VACITLK2 PP MS")
}

record(subArray, "$(P)$(Q):STATUS:P18") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "17")
  field(FLNK, "$(P)$(Q):FAULTINT PP MS")
}

record(bi, "$(P)$(Q):PSU") {
  field(DESC, "Status: PSU")
  field(INP, "$(P)$(Q):STATUS:P1 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):AOSCOTP") {
  field(DESC, "Status: A Osc O/T Pos")
  field(INP, "$(P)$(Q):STATUS:P4 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(longin, "$(P)$(Q):APOSGENV") {
  field(DESC, "Status: Pos Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P2 NPP MS")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):ANEGGENV") {
  field(DESC, "Status: Neg Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P3 NPP MS")
  field(EGU, "V")
}

record(bi, "$(P)$(Q):AOSCOTN") {
  field(DESC, "Status: A Osc O/T Neg")
  field(INP, "$(P)$(Q):STATUS:P5 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(longin, "$(P)$(Q):BPOSGENV") {
  field(DESC, "Status: B Pos Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P6 NPP MS")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):BNEGGENV") {
  field(DESC, "Status: B Neg Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P7 NPP MS")
  field(EGU, "V")
}

record(bi, "$(P)$(Q):BOSCOTP") {
  field(DESC, "Status: B Osc O/T Pos")
  field(INP, "$(P)$(Q):STATUS:P8 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):BOSCOTN") {
  field(DESC, "Status: B Osc O/T Neg")
  field(INP, "$(P)$(Q):STATUS:P9 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(longin, "$(P)$(Q):CPOSGENV") {
  field(DESC, "Status: C Pos Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P10 NPP MS")
  field(EGU, "V")
}

record(longin, "$(P)$(Q):CNEGGENV") {
  field(DESC, "Status: C Neg Gen Vmon")
  field(INP, "$(P)$(Q):STATUS:P11 NPP MS")
  field(EGU, "V")
}

record(bi, "$(P)$(Q):COSCOTP") {
  field(DESC, "Status: C Osc O/T Pos")
  field(INP, "$(P)$(Q):STATUS:P12 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):COSCOTN") {
  field(DESC, "Status: C Osc O/T Neg")
  field(INP, "$(P)$(Q):STATUS:P13 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):HVENABLE") {
  field(DESC, "Status: HV enable")
  field(INP, "$(P)$(Q):STATUS:P14 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):WATCHDOG") {
  field(DESC, "Status: Watchdog timer")
  field(INP, "$(P)$(Q):STATUS:P15 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(subArray, "$(P)$(Q):STATUS:P19") {
  field(FTVL, "FLOAT")
  field(INP, "$(P)$(Q):STATUS:GET NPP MS")
  field(MALM, "19")
  field(INDX, "18")
  field(FLNK, "$(P)$(Q):TCORR PP MS")
}

record(longin, "$(P)$(Q):TCORR") {
  field(DESC, "Status: Time Correction")
  field(INP, "$(P)$(Q):STATUS:P19 NPP MS")
  field(EGU, "min")
}

record(bi, "$(P)$(Q):VACITLK2") {
  field(DESC, "Status: Fault intr")
  field(INP, "$(P)$(Q):STATUS:P17 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):VACITLK1") {
  field(DESC, "Status: Vac interlock")
  field(INP, "$(P)$(Q):STATUS:P16 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bi, "$(P)$(Q):FAULTINT") {
  field(DESC, "Status: Fault intr")
  field(INP, "$(P)$(Q):STATUS:P18 NPP MS")
  field(ZNAM, "FAIL")
  field(ONAM, "GOOD")
}

record(bo, "$(P)$(Q):FMT:RESET") {
  field(DESC, "Set to factory defaults")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol resetformat $(PORT) 0")
  field(ZNAM, "0")
  field(ONAM, "1")
}

record(bo, "$(P)$(Q):FMT:SETDEF") {
  field(DESC, "Set as factory defaults")
  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol setformatdefaults $(PORT) 0")
  field(ZNAM, "0")
  field(ONAM, "1")
}

# Convert step size into decimal
record(scalcout, "$(P)$(Q):STEPSIZECALC") {
  field(CALC, "SSCANF(AA,'%X')")
  field(INAA, "$(P)$(Q):SETUP:P11 NPP MS")
}

record(scalcout, "$(P)$(Q):B0MINCALC") {
  field(CALC, "SSCANF(AA,'%X')")
  field(INAA, "$(P)$(Q):SETUP:P14 NPP MS")
}

record(scalcout, "$(P)$(Q):B0MAXCALC") {
  field(CALC, "SSCANF(AA,'%X')")
  field(INAA, "$(P)$(Q):SETUP:P15 NPP MS")
}

record(scalcout, "$(P)$(Q):B1MINCALC") {
  field(CALC, "SSCANF(AA,'%X')")
  field(INAA, "$(P)$(Q):SETUP:P16 NPP MS")
}

record(scalcout, "$(P)$(Q):B1MAXCALC") {
  field(CALC, "SSCANF(AA,'%X')")
  field(INAA, "$(P)$(Q):SETUP:P17 NPP MS")
}

# Requests for current status/setup/readback are disabled when device is slewing.
# 'SLEWING' status is written directly to record from the protocol.
record(mbbo, "$(P)$(Q):STATUS") {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(VAL, "2")
  field(ZRST, "FAILED")
  field(ONST, "SLEWING")
  field(TWST, "IDLE")
  field(ZRSV, "MAJOR")
  field(THST, "TIMEOUT")
  field(THSV, "MAJOR")
  field(FLNK, "$(P)$(Q):RESETTIMER")
  field(DESC, "Device status")
}

# Processed on I/O interrupt when the device responds with either 'SUCCESS' or 'FAIL'.
# MDEL=-1 so that monitors will always be posted regardless of whether the value has changed.
record(longin, "$(P)$(Q):FINISHED") {
  field(SCAN, "I/O Intr")
  field(DTYP, "stream")
  field(FLNK, "$(P)$(Q):DONE")
  field(INP, "@ODPsuV2.protocol finished() $(PORT) 0")
  field(MDEL, "-1")
}

record(longout, "$(P)$(Q):FMT:GET") {
  field(DESC, "Send read format cmd")
  field(SCAN, "Passive")
#  field(SCAN, "Passive")
  field(DTYP, "stream")
  field(OUT, "@ODPsuV2.protocol getvdformat($(P)$(Q)) $(PORT) 0")
  field(HOPR, "7")
  field(LOPR, "0")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(DOL, "0")
  field(OMSL, "supervisory")
  field(DRVH, "7")
  field(DRVL, "0")
  field(PINI, "YES")
}

# Triggers status and setup requests to be sent periodically.
record(seq, "$(P)$(Q):REQUESTSTATUS") {
  field(SCAN, "10 second")
  field(SDIS, "$(P)$(Q):STATUS")
  field(LNK1, "$(P)$(Q):SETUP:GET PP")
  field(DLY2, "3")
  field(LNK2, "$(P)$(Q):STATUS:GET PP")
}

# Resets the timer when device starts slewing.
record(calcout, "$(P)$(Q):RESETTIMER") {
  field(CALC, "A#1")
  field(INPA, "$(P)$(Q):STATUS")
  field(OUT, "$(P)$(Q):TIMER.VAL")
  field(OOPT, "When Zero")
  field(DOPT, "Use OCAL")
  field(OCAL, "-(B/10)")
  field(INPB, "$(P)$(Q):TIMEOUT")
}

# Starts counting as soon as device has started slewing.  Triggers its out link when
# it reaches zero, or is disabled when device responds with 'SUCCESS' or 'FAIL'.
record(calcout, "$(P)$(Q):TIMER") {
  field(SCAN, "10 second")
  field(SDIS, "$(P)$(Q):RESETTIMER")
  field(CALC, "A+1")
  field(INPA, "$(P)$(Q):TIMER.VAL")
  field(OUT, "$(P)$(Q):TIMEDOUT PP")
  field(OOPT, "When Zero")
  field(DOPT, "Use OCAL")
  field(OCAL, "3")
}

#% autosave 2 VAL
# Configurable timeout setting (in seconds).
record(ao, "$(P)$(Q):TIMEOUT") {
  field(PINI, "YES")
  field(VAL, "60")
  field(DESC, "Timeout")
  field(EGU, "s")
}

# Delay return of status by 2 seconds as device does not start responding
# to new requests straight away.
record(seq, "$(P)$(Q):DONE") {
  field(DLY1, "2")
  field(DOL1, "$(P)$(Q):FINISHED")
  field(LNK1, "$(P)$(Q):STATUS PP")
  field(DESC, "Forwards done status")
}

# Record is processed (and monitors posted) whenever timer reaches its timeout value.
record(longout, "$(P)$(Q):TIMEDOUT") {
  field(DTYP, "Soft Channel")
  field(OUT, "$(P)$(Q):STATUS PP")
  field(MDEL, "-1")
}

