

# ODPsuChannel.template
# substitutions
# P - device name prefix (name will be $(P)$(Q))
# Q - device name qualifier (name will be $(P)$(Q))
# CHAN - the channel number (0 - 23)
# PORT - the comms port
# % macro, P, device name prefix (name will be $(P)$(Q))
# % macro, Q, device name qualifier (name will be $(P)$(Q))
# % macro, CHAN, power supply channel number (0 - 23)
# % macro, BANK, power supply bank number (0 - 1)
# % macro, PORT, Asyn port name
record(bo, "$(P)$(Q):V$(CHAN):BANK") {
  field(DESC, "V$(CHAN) Bank")
  field(ZNAM, "0")
  field(ONAM, "1")
}

record(bo, "$(P)$(Q):V$(CHAN):ACT") {
  field(DESC, "V$(CHAN) Active/Inactive")
  field(ZNAM, "No")
  field(ONAM, "Yes")
}

record(longout, "$(P)$(Q):V$(CHAN)D") {
  field(DESC, "V$(CHAN) Demand")
  field(FLNK, "$(P)$(Q):V$(CHAN)DSEQ")
  field(HOPR, "2000")
  field(LOPR, "-2000")
  field(EGU, "V")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(DRVH, "2000")
  field(DRVL, "-2000")
}

record(transform, "$(P)$(Q):V$(CHAN)D:CALC") {
  field(DESC, "V$(CHAN) demand calc output")
  field(FLNK, "$(P)$(Q):V$(CHAN)D:SET")
#  field(INPA, "$(P)$(Q):V$(CHAN):ACT")
  field(INPA, "1")
  field(INPB, "$(BANK)")
  field(INPC, "$(P)$(Q):V$(CHAN)D NPP MS")
  field(CMTD, "calc sign bit")
  field(CLCD, "(C<0) ? 32768:0")
  field(CMTE, "calc abs")
  field(CLCE, "ABS(C)")
  field(CLCF, "E+D+(A*16384)+(B*8192)")
}

record(longout, "$(P)$(Q):V$(CHAN)D:SET") {
  field(DESC, "V$(CHAN) demand output")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(OUT, "@ODPsu.protocol setvd($(CHAN)) $(PORT) 0")
  field(OMSL, "closed_loop")
  field(DOL, "$(P)$(Q):V$(CHAN)D:CALC.F NPP MS")
  field(FLNK, "$(P)$(Q):V$(CHAN)DSEVC")
}

#% archiver 1.0 Monitor
record(longin, "$(P)$(Q):V$(CHAN)R") {
  field(DESC, "V$(CHAN) actual readback input")
  field(SCAN, "I/O Intr")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(INP, "@ODPsu.protocol getvall$(CHAN) $(PORT) 0")
  field(HOPR, "2000")
  field(LOPR, "-2000")
  field(EGU, "V")
  field(PINI, "YES")
}

record(longin, "$(P)$(Q):V$(CHAN)DR:GET") {
  field(DESC, "V$(CHAN) demand readback input")
  field(FLNK, "$(P)$(Q):V$(CHAN)DR:CALC")
  field(SCAN, "Passive")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(INP, "@ODPsu.protocol getvd($(CHAN)) $(PORT) 0")
  field(PINI, "YES")
}

record(transform, "$(P)$(Q):V$(CHAN)DR:CALC") {
  field(DESC, "V$(CHAN) demand readback calc")
  field(INPA, "$(P)$(Q):V$(CHAN)DR:GET NPP MS")
  field(CMTB, "calc sign")
  field(CLCB, "(A > 32768)?-1:1")
  field(CMTC, "calc abs")
  field(CLCC, "(A > 32768)?A-32768:A")
  field(CMTD, "calc active")
  field(CLCD, "(A & 16384)?1:0")
  field(CMTE, "calc bank")
  field(CLCE, "(A & 8192)?1:0")
  field(CMTF, "calc voltage")
  field(CLCF, "(C&(~24576))*B")
  field(OUTD, "$(P)$(Q):V$(CHAN):ACT PP MS")
  field(OUTE, "$(P)$(Q):V$(CHAN):BANK PP MS")
  field(OUTF, "$(P)$(Q):V$(CHAN)DR PP MS")
}

#% archiver 1.0 Monitor
record(longin, "$(P)$(Q):V$(CHAN)DR") {
  field(DESC, "V$(CHAN) demand readback")
  field(HOPR, "2000")
  field(LOPR, "-2000")
  field(EGU, "V")
}

record(bo, "$(P)$(Q):FMT:V$(CHAN):BANK") {
  field(DESC, "V$(CHAN) fmt Bank")
  field(ZNAM, "0")
  field(ONAM, "1")
}

record(bo, "$(P)$(Q):FMT:V$(CHAN):ACT") {
  field(DESC, "V$(CHAN) fmt Active/Inactive")
  field(ZNAM, "No")
  field(ONAM, "Yes")
}

record(longout, "$(P)$(Q):FMT:V$(CHAN)D") {
  field(DESC, "V$(CHAN) Demand")
  field(FLNK, "$(P)$(Q):FMT:V$(CHAN)D:CALC")
  field(HOPR, "2000")
  field(LOPR, "-2000")
  field(EGU, "V")
  field(STAT, "NO_ALARM")
  field(SEVR, "NO_ALARM")
  field(PINI, "YES")
  field(DOL, "0")
  field(OMSL, "supervisory")
  field(DRVH, "2000")
  field(DRVL, "-2000")
}

record(transform, "$(P)$(Q):FMT:V$(CHAN)D:CALC") {
  field(DESC, "V$(CHAN) demand calc output")
  field(FLNK, "$(P)$(Q):FMT:V$(CHAN)D:SET")
#  field(INPA, "$(P)$(Q):FMT:V$(CHAN):ACT")
  field(INPA, "1")
  field(INPB, "$(BANK)")
  field(INPC, "$(P)$(Q):FMT:V$(CHAN)D NPP MS")
  field(CMTD, "calc sign bit")
  field(CLCD, "(C<0) ? 32768:0")
  field(CMTE, "calc abs")
  field(CLCE, "ABS(C)")
  field(CLCF, "E+D+(A*16384)+(B*8192)")
}

record(longout, "$(P)$(Q):FMT:V$(CHAN)D:SET") {
  field(DESC, "V$(CHAN) demand output")
  field(OMSL, "closed_loop")
  field(DOL, "$(P)$(Q):FMT:V$(CHAN)D:CALC.F NPP MS")
}

record(longin, "$(P)$(Q):FMT:V$(CHAN)DR:GET") {
  field(DESC, "V$(CHAN) fmt demand rb input")
  field(FLNK, "$(P)$(Q):FMT:V$(CHAN)DR:CALC")
  field(SCAN, "I/O Intr")
  field(SDIS, "$(P)$(Q):DISABLE")
  field(DTYP, "stream")
  field(INP, "@ODPsu.protocol getvdformat$(CHAN) $(PORT) 0")
  field(HOPR, "2000")
  field(LOPR, "-2000")
  field(EGU, "V")
  field(PINI, "YES")
}

record(transform, "$(P)$(Q):FMT:V$(CHAN)DR:CALC") {
  field(DESC, "V$(CHAN) fmt demand rb calc")
  field(INPA, "$(P)$(Q):FMT:V$(CHAN)DR:GET NPP MS")
  field(CMTB, "calc sign")
  field(CLCB, "(A > 32768)?-1:1")
  field(CMTC, "calc abs")
  field(CLCC, "(A > 32768)?A-32768:A")
  field(CMTD, "calc active")
  field(CLCD, "(A & 16384)?1:0")
  field(CMTE, "calc bank")
  field(CLCE, "(A & 8192)?1:0")
  field(CMTF, "calc voltage")
  field(CLCF, "(C&(~24576))*B")
  field(OUTD, "$(P)$(Q):FMT:V$(CHAN):ACT PP MS")
  field(OUTE, "$(P)$(Q):FMT:V$(CHAN):BANK PP MS")
  field(OUTF, "$(P)$(Q):FMT:V$(CHAN)DR PP MS")
}

record(longin, "$(P)$(Q):FMT:V$(CHAN)DR") {
  field(DESC, "V$(CHAN) fmt demand rb")
  field(HOPR, "2000")
  field(LOPR, "-2000")
  field(EGU, "V")
}

# outputs zero if the streams record
# is active
# Otherwise 1 or 2 based on the
# severity of the result
record(calcout, "$(P)$(Q):V$(CHAN)DSEVC") {
  field(FLNK, "$(P)$(Q):V$(CHAN)DSEV")
  field(CALC, "(A>0)?2:1")
  field(INPA, "$(P)$(Q):V$(CHAN)D:SET.SEVR")
  field(DESC, "Raise severity if FAIL")
  field(OUT, "$(P)$(Q):V$(CHAN)DSEV")
  field(OOPT, "Every Time")
  field(DOPT, "Use CALC")
}

# zero if No request processed
# one if ok
# two if FAIL
record(mbbo, "$(P)$(Q):V$(CHAN)DSEV") {
  field(DESC, "Raise alarm if set failed")
  field(ZRST, "N/A")
  field(ONST, "OK")
  field(TWST, "FAIL")
  field(THST, "SLEW")
  field(ZRSV, "NO_ALARM")
  field(ONSV, "NO_ALARM")
  field(TWSV, "MAJOR")
  field(THSV, "NO_ALARM")
  field(FLNK, "$(P)$(Q):V$(CHAN)DR:GET")
}

# sequence to reset the VxDSEV field to N/A
record(seq, "$(P)$(Q):V$(CHAN)DSEQ") {
  field(FLNK, "$(P)$(Q):V$(CHAN)D:CALC")
  field(DO1, "3")
  field(LNK1, "$(P)$(Q):V$(CHAN)DSEV PP")
}

